.image {
  width: 100%;
  display: block;
}

body {
  font-family: Lato;
}

h1 {
  font-size: 300%;
  margin-bottom: 0%;
  text-align: center;
  margin-top: 2%;
  font-family: DM Serif Display;
  font-weight: 100;
}

p {
  font-size: 120%;
  text-align: justify;
}

b {
  font-size: 115%;
}
.name {
  text-align: center;
  margin-top: 1%;
  font-size: 120%;
  font-family: DM Serif Display;
  font-weight: 100;
}

.content {
  font-size: 100%;
  width: 50%;
  background-color: #fefbf4;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fefbf4;
  padding-top: 15px;
}
.space {
  padding-bottom: 5px;
  background-color: #fefbf4;
}

.box {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 6px 6px #fff4da, 1px 1px #fff4da inset;
  padding-top: 10px;
  padding-bottom: 10px;
}

.personas {
  display: block;
  width: 125%;
  margin-left: -10%;
}

.prototype{
  margin-left: -2%;
}

.inspo {
  width: 100%;
}
a {
  font-size: 115%;
  color: black;
}

@media screen and (max-width: 750px) {
  .content {
    width: 75%;
  }
}
